<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title> Игровой сайт </title>

</head>
<body>
    <header>
        {% block pagename %}
        {% endblock %}
    </header>
    <nav>
        {% block menu %}
        <p><a href="http://127.0.0.1:8000/platform">Главная</a></p>
        <p><a href="http://127.0.0.1:8000/platform/games/">Магазин</a></p>
        <p><a href="http://127.0.0.1:8000/platform/cart/">Корзина</a></p>
        {% endblock %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
